{% extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">View Issue</a>
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Issues</th>
				</tr>
				{% for i in cust %}
				 <tr>
						 <td>{{i.name}}</td>
				</tr>
				{% endfor %}
				
               
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ISSUES</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create New Issue</a>
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Issue Description</th>
					<th>Esc Level</th>
					<th>Status</th>
					<th>Date opened</th>
				</tr>
				    {% for i in issue %}
				   <tr>
					   <td>{{i.Customer_name}}</td>
					   <td>{{i.Issue_description}}</td>
					   <td><center>{{i.Esc_Level}}</center></td>
					   <td>{{i.status}}</td>
					   <td>{{i.date_created}}</td>
			       </tr>
				    {% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}




    