{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Issues</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Product</th>
							<th>Customer</th>
                            <th>Fab</th>
							<th>Esc level</th>
							<th>Status</th>
                            <th>Issue description</th>
                            <th>POA</th>
                            <th>Resolution</th>
                            <th>Date Opened</th>
                            <th>Owner</th>
						</tr>
						{% for i in issues %}
				            <tr>
								 <td>{{i.product}}</td>
								 <td>{{i.Customer_name}}</td>
								 <td>{{i.Fab}}</td>
								 <td>{{i.Esc_Level}}</td>
								 <td>{{i.status}}</td>
								 <td>{{i.Issue_description}}</td>
								 <td>{{i.POA}}</td>
								 <td>{{i.Resolution}}</td>
								 <td>{{i.date_created}}</td>
				            </tr>
			        	{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}