<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Issues</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_issue}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Open Issues</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{open_issue}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Closed Issues</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{closed_issue}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>